.border{
    border: 2px solid yellow;
    margin: 3px;
}


.flex{
    display: flex;
}

.justify-content
{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey
{
    background-color: #121212;
}

.rounded{
    border-radius : 7px;
}


.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}



/* Hide scrollbar when not needed */
.scrollable {
    overflow: auto; /* Allows scrolling when necessary */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */
}

/* Hide scrollbar for WebKit browsers */
.scrollable::-webkit-scrollbar {
    width: 0; /* Hide the scrollbar */
    background: transparent; /* Ensure no background is shown */
}

/* Add styling for when content overflows */
.scrollable:hover::-webkit-scrollbar {
    width: 8px; /* Show scrollbar on hover */
}


/* Style the scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
    background: transparent; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: transparent; /* Color of the scrollbar thumb on hover */
}

/* For Firefox */
* {
    scrollbar-width: thin; /* Use thin scrollbar */
    scrollbar-color: #1db954 #282828; /* Thumb color and track color */
}


